* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fashion Fetish";
  src: url("FashionFetish-Light.ttf");
  font-weight: 300;
}

body {
  font-family: "Century Gothic", sans-serif;
  background: #f3f3f3;
}

.header {
  height: 104px;
  background: #8e8e8e;
  display: flex;
  align-items: center;
}

.header-inner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 119px;
}

.logo img {
  height: 57px;
}

.nav {
  display: flex;
  gap: 36px;
  margin-right: 119px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;

    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}

.title {
  font-family: "Fashion Fetish", sans-serif;
  font-weight: 300;
  font-size: 64px;

  text-align: center;
  margin-top: 140px;
}

.cards {
  margin-top: 90px;
  margin-left: 119px;
  margin-right: 119px;

  display: flex;
  flex-wrap: wrap;
  gap: 77px 106px;
}

.card {
  width: 481px;
  height: 617px;
  background: #eaeaea;
  border-radius: 77px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 432px;
  height: 339px;
  border-radius: 74px;
  overflow: hidden;
  margin-top: 30px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  padding: 0 20px;
}

.btn {
  margin-top: auto;
  margin-bottom: 30px;

  width: 432px;
  height: 84px;

  border-radius: 163px;
  border: 1px solid #000;
  background: transparent;

  font-family: "Century Gothic", sans-serif;
  font-size: 32px;
  font-weight: 400;

  text-transform: none; 

  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: white;
}

.footer {
  margin-top: 143px;
  height: 162px;
  background: #4a4a4a;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  display: flex;
  align-items: center;
}

.footer-inner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.footer .logo {
  margin-left: 119px;
}

.footer-info {
  display: flex;
  gap: 190px;
  margin-left: 246px;

  color: white;
  font-size: 24px;
}